# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
# Your code here

import pandas as pd

# Read the dataset using pandas
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
# Standardize the column names
df.columns = df.columns.str.lower().str.replace(" ", "_")


# Rename columns for clarity - here for the state column
df = df.rename(columns={
    "st": "state"
})

# Print the resulting DataFrame
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
# Check the number of rows and columns in the dataset
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  4008
Number of columns:  11

In [ ]:
# Explore the data types of each column in the dataset
print(df.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [ ]:
# Examine the unique values of categorical columns and the range of values for numerical columns
for col in df.columns:
    if df[col].dtype == 'object':
        print(col)
        print(df[col].nunique())
        print(df[col].unique())
    else:
        print(col)
        print(df[col].nunique())
        print(df[col].min(), df[col].max())

customer
1071
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
state
8
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
gender
5
[nan 'F' 'M' 'Femal' 'Male' 'female']
education
6
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
customer_lifetime_value
1027
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
income
774
0.0 99960.0
monthly_premium_auto
132
61.0 35354.0
number_of_open_complaints
6
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
policy_type
3
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
vehicle_class
6
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
total_claim_amount
761
0.382107 2893.239678

In [ ]:
# Compute summary statistics of the dataset such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data
print(df.describe(include='number'))

             income  monthly_premium_auto  total_claim_amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [ ]:
print(df.describe(include='object'))

       customer   state gender education customer_lifetime_value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       number_of_open_complaints    policy_type  vehicle_class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
# Your code here

#Standardize Gender column to 'M' or 'F'
# Step 1: standardize to lowered unspaced string values

df['gender'] = df['gender'].astype(str).str.strip().str.lower()
print(df['gender'].unique())

['nan' 'f' 'm' 'femal' 'male' 'female']

In [ ]:
# Step 2: standardize the lowered/stripped values to 'M' and 'F'
df['gender'] = df['gender'].replace('f','F').replace('m', 'M').replace('femal', 'F').replace('female', 'F').replace('m','M').replace('male','M')
print(df['gender'].unique())

['nan' 'F' 'M']

In [ ]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
print(df['state'].unique())
print('\n')

print()


df['state'] = df['state'].replace({'Cali':'California', 'AZ':'Arizona', 'WA': 'Washington'})
print(df['state'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]



['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [ ]:
# Here, with the map function --> ACHTUNG, il faut prciser pour toutes les valeurs car les valuers non renseignes ont sinon transfortmes en Nan
# df['state'] = df['state'].map({'Cali':'California', 'AZ':'Arizona', 'WA': 'Washington'})

In [ ]:
# In education, "Bachelors" could be replaced by "Bachelor"
df.head()

df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
print(df['education'].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

In [ ]:
# In Customer Lifetime Value, delete the % character
df.head()

# NOT WORKING: df[customer_lifetime_value] = df[customer_lifetime_value].strip(%)

df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')


df.sample(5) #returns randomly 5 rows of the dataframe

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
3258,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3214,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2177,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3678,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2115,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['customer_lifetime_value'].dtypes

dtype('O')

In [ ]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
#df['vehicle_class'] = df['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')
df['car model'] = df['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')
df.sample(7)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,car model
1331,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2331,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3306,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3624,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,PH26378,California,M,College,601996.05,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,662.400000,Four-Door Car
509,CV24005,Oregon,M,High School or Below,259931.09,29590.0,66.0,1/0/00,Corporate Auto,Two-Door Car,467.503236,Two-Door Car

In [ ]:
df['vehicle_class'].value_counts()

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: vehicle_class, dtype: int64

In [ ]:
df['car model'].value_counts()

Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: car model, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Your code here
df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(float)
df['customer_lifetime_value'].dtypes
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
car model                     object
dtype: object

In [ ]:
#Impossible to convert an object column to integer if it has Nan inside, even if we ignore the Nan
# df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int, errors = 'ignore')
# df.dtypes
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here
top_quart_value = df['total_claim_amount'].quantile(0.75)
total_claim_top_25_df = df[df['total_claim_amount'] >= top_quart_value]

display(total_claim_top_25_df)

total_claim_top_25_df.describe()
total_claim_top_25_df.describe(include = 'object')

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,car model
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,Two-Door Car
17,OE15005,California,nan,College,394524.16,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031,SUV
23,TZ98966,Nevada,nan,Bachelor,245019.10,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763,Four-Door Car
26,US89481,California,nan,Bachelor,394637.21,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945,SUV
1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896,Four-Door Car
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000,Four-Door Car
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000,SUV
1070,MY31220,California,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000,Two-Door Car

,customer,state,gender,education,number_of_open_complaints,policy_type,vehicle_class,car model
count,273,273,273,273,273,273,273,273
unique,273,5,3,5,6,3,6,4
top,QZ44356,Oregon,F,High School or Below,1/0/00,Personal Auto,SUV,SUV
freq,1,93,125,90,213,195,105,105

In [ ]:
df[(df['total_claim_amount'] >= top_quart_value) & (df['total_claim_amount'] <= bottom_quart_value))   ]